black
bumpversion
click
click-log
coverage
cython
flake8
matplotlib
mypy
numpy
ordered-set
pandas
pathos
pydoc-markdown
pylint
pytest
pytest-cov
sphinx
sphinx-rtd-theme
tox
torch
torchvision
tqdm
twine
wheel
